{
  "openapi": "3.1.0",
  "info": {
    "title": "Yuno Payments API",
    "description": "Yuno payment orchestration API for processing payments across Latin America",
    "version": "1.0.0",
    "contact": {
      "name": "Yuno Support",
      "email": "support@y.uno"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno",
      "description": "Production"
    }
  ],
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/v1/checkout/sessions": {
      "post": {
        "operationId": "createCheckoutSession",
        "summary": "Create checkout session",
        "description": "Creates a new checkout session to initialize a payment flow. Returns HTTP 200 (not 201).",
        "tags": [
          "Checkout Sessions"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutSessionRequest"
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 150.0
                },
                "country": "BR",
                "merchant_order_id": "order-20260301-001",
                "payment_description": "Premium subscription - March 2026",
                "workflow": "SDK_CHECKOUT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                },
                "example": {
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "merchant_order_id": "order-20260301-001",
                  "status": "ACTIVE",
                  "created_at": "2026-03-01T14:30:00.000Z",
                  "payment_methods": [
                    {
                      "type": "CARD"
                    },
                    {
                      "type": "PIX"
                    },
                    {
                      "type": "BOLETO"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "amount.currency is required and must be a valid ISO 4217 code"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or missing API key"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions/{checkout_session_id}": {
      "get": {
        "operationId": "getCheckoutSession",
        "summary": "Get checkout session",
        "description": "Retrieves the details of an existing checkout session.",
        "tags": [
          "Checkout Sessions"
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the checkout session",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                }
              }
            }
          },
          "404": {
            "description": "Checkout session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCheckoutSession",
        "summary": "Update checkout session",
        "description": "Updates an existing checkout session. You can modify the amount, metadata, or other mutable fields before the session expires or a payment is completed.",
        "tags": [
          "Checkout Sessions"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the checkout session to update",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "object",
                    "description": "Updated payment amount",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code",
                        "example": "BRL"
                      },
                      "value": {
                        "type": "number",
                        "description": "Payment amount",
                        "example": 200.00
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Key-value pairs for storing additional information",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "order_id": "ORD-789",
                      "updated_reason": "price_adjustment"
                    }
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "Updated merchant order reference",
                    "example": "order-updated-456"
                  }
                }
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 200.00
                },
                "metadata": {
                  "order_id": "ORD-789"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Checkout session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Checkout session cannot be updated (already completed or expired)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create payment",
        "description": "Creates a new payment using a checkout session.",
        "tags": [
          "Payments"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "example": {
                "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "payment_method": {
                  "type": "CARD",
                  "token": "tok_4a8b9c2d-1e3f-5678-90ab-cdef12345678"
                },
                "amount": {
                  "currency": "BRL",
                  "value": 150.0
                },
                "country": "BR",
                "customer": {
                  "document": {
                    "document_type": "CPF",
                    "document_number": "12345678901"
                  },
                  "email": "maria.silva@example.com",
                  "first_name": "Maria",
                  "last_name": "Silva",
                  "phone": "+5511999990000"
                },
                "description": "Premium subscription - March 2026",
                "installments": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                },
                "example": {
                  "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "SUCCEEDED",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "payment_method": {
                    "type": "CARD"
                  },
                  "provider": {
                    "name": "stripe_connect",
                    "transaction_id": "pi_3abc123def456"
                  },
                  "merchant_order_id": "order-20260301-001",
                  "created_at": "2026-03-01T14:31:00.000Z",
                  "updated_at": "2026-03-01T14:31:02.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_FIELD",
                    "message": "customer.document is required for PIX"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "description": "Returns a list of payments. Supports pagination.",
        "tags": [
          "Payments"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment",
        "description": "Retrieves the details of an existing payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                },
                "example": {
                  "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "SUCCEEDED",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "payment_method": {
                    "type": "CARD"
                  },
                  "provider": {
                    "name": "stripe_connect",
                    "transaction_id": "pi_3abc123def456"
                  },
                  "merchant_order_id": "order-20260301-001",
                  "created_at": "2026-03-01T14:31:00.000Z",
                  "updated_at": "2026-03-01T14:31:02.000Z"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/capture": {
      "post": {
        "operationId": "capturePayment",
        "summary": "Capture payment",
        "description": "Captures a previously authorized payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment to capture",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  }
                }
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 150.0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                },
                "example": {
                  "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "SUCCEEDED",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "payment_method": {
                    "type": "CARD"
                  },
                  "provider": {
                    "name": "stripe_connect",
                    "transaction_id": "pi_3abc123def456"
                  },
                  "merchant_order_id": "order-20260301-001",
                  "created_at": "2026-03-01T14:31:00.000Z",
                  "updated_at": "2026-03-01T14:35:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Capture failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_STATE",
                    "message": "Payment must be in AUTHORIZED status to capture"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/cancel": {
      "post": {
        "operationId": "cancelPayment",
        "summary": "Cancel payment",
        "description": "Cancels a pending or authorized payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment to cancel",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Cancellation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund payment",
        "description": "Creates a refund for a completed payment. Supports partial refunds.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment to refund",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/Amount",
                    "description": "Refund amount. Omit for full refund."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the refund"
                  }
                }
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 50.0
                },
                "reason": "Customer requested partial refund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                },
                "example": {
                  "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "PARTIALLY_REFUNDED",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "payment_method": {
                    "type": "CARD"
                  },
                  "provider": {
                    "name": "stripe_connect",
                    "transaction_id": "pi_3abc123def456"
                  },
                  "merchant_order_id": "order-20260301-001",
                  "created_at": "2026-03-01T14:31:00.000Z",
                  "updated_at": "2026-03-01T15:10:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Refund failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_STATE",
                    "message": "Refund amount exceeds remaining balance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/installments-plans": {
      "get": {
        "operationId": "listInstallmentsPlans",
        "summary": "List installment plans",
        "description": "Returns all installment plans configured for the account.",
        "tags": [
          "Installments Plans"
        ],
        "responses": {
          "200": {
            "description": "List of installment plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallmentsPlan"
                  }
                },
                "example": [
                  {
                    "id": "3e599453-e147-4d1c-8643-73e4d980c2ae",
                    "name": "Standard Plan",
                    "account_id": [
                      "1a3a576a-01d0-40ff-a68e-494f82145773"
                    ],
                    "merchant_reference": "001 08 Agosto 2023",
                    "installments_plan": [
                      {
                        "installment": 1,
                        "rate": 1
                      },
                      {
                        "installment": 2,
                        "rate": 1.294
                      },
                      {
                        "installment": 12,
                        "rate": 1.525
                      }
                    ],
                    "brand": null,
                    "iin": null,
                    "country_code": "BR",
                    "first_installment_deferral": 1,
                    "amount": {
                      "Currency": "BRL",
                      "min_value": 0,
                      "max_value": 10000000000
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createInstallmentsPlan",
        "summary": "Create installment plan",
        "description": "Creates a new installment plan for the account.",
        "tags": [
          "Installments Plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallmentsPlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Installment plan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentsPlan"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installments-plans/{installments_plan_id}": {
      "get": {
        "operationId": "getInstallmentsPlan",
        "summary": "Get installment plan",
        "description": "Retrieves a specific installment plan by ID.",
        "tags": [
          "Installments Plans"
        ],
        "parameters": [
          {
            "name": "installments_plan_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the installment plan",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installment plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentsPlan"
                }
              }
            }
          },
          "404": {
            "description": "Installment plan not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateInstallmentsPlan",
        "summary": "Update installment plan",
        "description": "Updates an existing installment plan.",
        "tags": [
          "Installments Plans"
        ],
        "parameters": [
          {
            "name": "installments_plan_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the installment plan",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallmentsPlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installment plan updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentsPlan"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteInstallmentsPlan",
        "summary": "Delete installment plan",
        "description": "Deletes an existing installment plan.",
        "tags": [
          "Installments Plans"
        ],
        "parameters": [
          {
            "name": "installments_plan_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the installment plan",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Installment plan deleted successfully"
          },
          "404": {
            "description": "Installment plan not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/issuers": {
      "get": {
        "operationId": "listIssuers",
        "summary": "List issuers",
        "description": "Returns a list of issuers (banks) available for a given country. Note: This endpoint returns HTTP 201 (unusual for GET requests, but confirmed behavior).",
        "tags": [
          "Issuers"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "example": "CO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "List of issuers for the specified country",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issuers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issuer"
                      }
                    }
                  }
                },
                "example": {
                  "issuers": [
                    {
                      "name": "BANCO QUE APRUEBA",
                      "id": "1"
                    },
                    {
                      "name": "BANCO QUE DECLINA",
                      "id": "2"
                    },
                    {
                      "name": "BANCO QUE SIMULA UN ERROR",
                      "id": "3"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create customer",
        "description": "Creates a new customer record.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              },
              "example": {
                "email": "maria.silva@example.com",
                "first_name": "Maria",
                "last_name": "Silva",
                "phone": "+5511999990000",
                "document": {
                  "document_type": "CPF",
                  "document_number": "12345678901"
                },
                "merchant_customer_id": "cust-internal-001"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "example": {
                  "id": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
                  "email": "maria.silva@example.com",
                  "first_name": "Maria",
                  "last_name": "Silva",
                  "phone": "+5511999990000",
                  "document": {
                    "document_type": "CPF",
                    "document_number": "12345678901"
                  },
                  "merchant_customer_id": "cust-internal-001",
                  "created_at": "2026-03-01T10:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Returns a list of customers.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer_id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get customer",
        "description": "Retrieves a customer by ID.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payouts": {
      "post": {
        "operationId": "createPayout",
        "summary": "Create payout",
        "description": "Creates a new payout to send funds to a recipient.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 500.0
                },
                "country": "BR",
                "recipient_id": "d1e2f3a4-b5c6-7d8e-9f0a-1b2c3d4e5f6a",
                "description": "Seller payout - Order #1234",
                "merchant_reference": "payout-ref-001",
                "purpose": "SELLER_PAYMENT"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                },
                "example": {
                  "id": "e2f3a4b5-c6d7-8e9f-0a1b-2c3d4e5f6a7b",
                  "status": "PENDING",
                  "amount": {
                    "currency": "BRL",
                    "value": 500.0
                  },
                  "country": "BR",
                  "recipient_id": "d1e2f3a4-b5c6-7d8e-9f0a-1b2c3d4e5f6a",
                  "merchant_reference": "payout-ref-001",
                  "created_at": "2026-03-01T16:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payouts/{payout_id}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Get payout",
        "description": "Retrieves the details of a payout by ID. Note: The path `/v1/payouts/merchant-ref/{reference}` may require a UUID format for the reference parameter \u2014 verify the correct format for your use case.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payout_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports": {
      "post": {
        "operationId": "createReport",
        "summary": "Create report",
        "description": "Generates a new report for the specified date range.",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              },
              "example": {
                "date_range": {
                  "from": "2026-02-01T00:00:00.000Z",
                  "to": "2026-02-28T23:59:59.999Z"
                },
                "type": "TRANSACTIONS"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report generation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                },
                "example": {
                  "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
                  "status": "PROCESSING",
                  "date_range": {
                    "from": "2026-02-01T00:00:00.000Z",
                    "to": "2026-02-28T23:59:59.999Z"
                  },
                  "download_url": null,
                  "created_at": "2026-03-01T12:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports/{report_id}": {
      "get": {
        "operationId": "getReport",
        "summary": "Get report",
        "description": "Retrieves the status and details of a generated report.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the report",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients": {
      "post": {
        "operationId": "createRecipient",
        "summary": "Create recipient",
        "description": "Creates a new payout recipient.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientRequest"
              },
              "example": {
                "merchant_recipient_id": "seller-001",
                "country": "BR",
                "name": "Carlos Oliveira",
                "email": "carlos@example.com",
                "document": {
                  "document_type": "CPF",
                  "document_number": "98765432100"
                },
                "bank_account": {
                  "bank_code": "001",
                  "account_number": "12345-6",
                  "account_type": "CHECKING"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recipient created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                },
                "example": {
                  "id": "d1e2f3a4-b5c6-7d8e-9f0a-1b2c3d4e5f6a",
                  "merchant_recipient_id": "seller-001",
                  "country": "BR",
                  "name": "Carlos Oliveira",
                  "email": "carlos@example.com",
                  "document": {
                    "document_type": "CPF",
                    "document_number": "98765432100"
                  },
                  "bank_account": {
                    "bank_code": "001",
                    "account_number": "12345-6",
                    "account_type": "CHECKING"
                  },
                  "created_at": "2026-03-01T09:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRecipients",
        "summary": "List recipients",
        "description": "Returns a list of payout recipients. Requires `merchant_recipient_id` query parameter.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "merchant_recipient_id",
            "in": "query",
            "required": true,
            "description": "The merchant-assigned recipient identifier to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipient"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}": {
      "get": {
        "operationId": "getRecipient",
        "summary": "Get recipient",
        "description": "Retrieves a recipient by ID.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "404": {
            "description": "Recipient not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/cancel-or-refund": {
      "post": {
        "operationId": "cancelOrRefundPayment",
        "summary": "Cancel or refund payment",
        "description": "Automatically determines whether to cancel or refund a payment based on its current status. If the payment is authorized but not captured, it cancels. If captured, it refunds.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/Amount",
                    "description": "Amount to refund. Omit for full cancellation/refund."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the cancellation or refund"
                  }
                }
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 50.0
                },
                "reason": "Customer request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment cancelled or refunded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/notify-fulfillment": {
      "post": {
        "operationId": "notifyFulfillment",
        "summary": "Notify fulfillment",
        "description": "Notifies Yuno that the order associated with a payment has been fulfilled. This is used for fraud prevention and chargeback protection.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfillmentNotification"
              },
              "example": {
                "status": "DELIVERED",
                "tracking_number": "BR123456789",
                "carrier": "Correios",
                "shipped_at": "2026-03-01T10:00:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fulfillment notification received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "RECEIVED"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{payment_id}/disputes/{dispute_id}": {
      "patch": {
        "operationId": "updateDispute",
        "summary": "Update dispute",
        "description": "Updates an existing dispute with additional evidence or status changes.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dispute_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dispute",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisputeUpdate"
              },
              "example": {
                "evidence": {
                  "description": "Order was delivered on 2026-02-28",
                  "documents": [
                    "https://example.com/proof-of-delivery.pdf"
                  ]
                },
                "status": "EVIDENCE_SUBMITTED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispute updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{subscription_id}/retry": {
      "post": {
        "operationId": "retrySubscription",
        "summary": "Retry subscription",
        "description": "Retries a failed subscription payment. Useful when a recurring payment has been declined and the customer has updated their payment method.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the subscription",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription payment retried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/continue": {
      "post": {
        "operationId": "continueOnboarding",
        "summary": "Continue onboarding",
        "description": "Continues a paused or pending onboarding process for a recipient.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding continued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/block": {
      "post": {
        "operationId": "blockOnboarding",
        "summary": "Block onboarding",
        "description": "Blocks an onboarding process, preventing the recipient from completing it.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for blocking"
                  }
                }
              },
              "example": {
                "reason": "Pending compliance review"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/unblock": {
      "post": {
        "operationId": "unblockOnboarding",
        "summary": "Unblock onboarding",
        "description": "Unblocks a previously blocked onboarding process.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding unblocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/transfer": {
      "post": {
        "operationId": "transferOnboarding",
        "summary": "Transfer onboarding",
        "description": "Initiates a fund transfer associated with a recipient onboarding.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingTransferRequest"
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 100.0
                },
                "description": "Onboarding verification transfer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingTransfer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/reverse": {
      "post": {
        "operationId": "reverseTransfer",
        "summary": "Reverse transfer",
        "description": "Reverses a previously completed onboarding transfer.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for reversal"
                  }
                }
              },
              "example": {
                "reason": "Onboarding cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer reversed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingTransfer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/transfers/{transfer_id}": {
      "get": {
        "operationId": "getOnboardingTransfer",
        "summary": "Get transfer",
        "description": "Retrieves details of a specific onboarding transfer.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the transfer",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingTransfer"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/onboardings/{onboarding_id}/transfers": {
      "get": {
        "operationId": "listOnboardingTransfers",
        "summary": "List transfers",
        "description": "Lists all transfers associated with a recipient onboarding.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the recipient",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onboarding_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the onboarding",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnboardingTransfer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/baas/accounts/{account_id}": {
      "patch": {
        "operationId": "updateBaasAccount",
        "summary": "Update account",
        "description": "Updates an existing BaaS account.",
        "tags": [
          "BaaS"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the BaaS account",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "SUSPENDED",
                      "CLOSED"
                    ],
                    "description": "New account status"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom metadata"
                  }
                }
              },
              "example": {
                "status": "ACTIVE",
                "metadata": {
                  "tier": "premium"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/baas/webhooks": {
      "post": {
        "operationId": "createBaasWebhook",
        "summary": "Create BaaS webhook",
        "description": "Registers a webhook endpoint to receive BaaS event notifications.",
        "tags": [
          "BaaS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook endpoint URL"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Event types to subscribe to"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Shared secret for signature verification"
                  }
                }
              },
              "example": {
                "url": "https://example.com/webhooks/baas",
                "events": [
                  "account.updated",
                  "transfer.completed",
                  "transfer.failed"
                ],
                "secret": "whsec_your_secret_key"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/smart-support/external/payments/recover": {
      "post": {
        "operationId": "recoverDeclinedPayment",
        "summary": "Recover declined payments",
        "description": "Triggers automated outreach (AI caller) to recover declined payments by contacting the customer to update their payment method or resolve the issue.",
        "tags": [
          "Smart Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverPaymentRequest"
              },
              "example": {
                "payment_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                "channel": "PHONE",
                "language": "pt-BR"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recovery process initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryAttempt"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/smart-support/external/payments": {
      "post": {
        "operationId": "recoverAbandonedPayment",
        "summary": "Recover abandoned payments",
        "description": "Triggers automated outreach to recover abandoned payment flows by contacting the customer to complete their purchase.",
        "tags": [
          "Smart Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverAbandonedRequest"
              },
              "example": {
                "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "channel": "SMS",
                "language": "pt-BR"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recovery process initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryAttempt"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create campaign",
        "description": "Creates a new campaign for payment promotions, discounts, or installment offers.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              },
              "example": {
                "name": "Summer Sale 2026",
                "description": "Summer promotional campaign",
                "start_date": "2026-06-01T00:00:00.000Z",
                "end_date": "2026-08-31T23:59:59.999Z",
                "country": "BR"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "description": "Returns a list of campaigns.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "DRAFT",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaign_id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get campaign",
        "description": "Retrieves a campaign by ID.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the campaign",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaign_id}/status": {
      "patch": {
        "operationId": "updateCampaignStatus",
        "summary": "Update campaign status",
        "description": "Updates the status of an existing campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the campaign",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "New campaign status"
                  }
                }
              },
              "example": {
                "status": "ACTIVE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaign-rules": {
      "post": {
        "operationId": "createCampaignRule",
        "summary": "Create campaign rule",
        "description": "Creates a new rule for a campaign that defines conditions and benefits.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRuleRequest"
              },
              "example": {
                "campaign_id": "c1d2e3f4-a5b6-7c8d-9e0f-1a2b3c4d5e6f",
                "name": "10% off cards",
                "conditions": {
                  "payment_method": "CARD",
                  "min_amount": 100.0
                },
                "benefit": {
                  "type": "DISCOUNT",
                  "value": 10,
                  "unit": "PERCENTAGE"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign rule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaign-rules/{rule_id}": {
      "get": {
        "operationId": "getCampaignRule",
        "summary": "Get campaign rule",
        "description": "Retrieves a campaign rule by ID.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the campaign rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign rule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRule"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCampaignRule",
        "summary": "Update campaign rule",
        "description": "Updates an existing campaign rule.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the campaign rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign rule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaign-rules/{rule_id}/status": {
      "patch": {
        "operationId": "updateCampaignRuleStatus",
        "summary": "Update campaign rule status",
        "description": "Updates the status of a campaign rule.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the campaign rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "New rule status"
                  }
                }
              },
              "example": {
                "status": "ACTIVE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign rule status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "publicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "description": "Your public API key from the Yuno Dashboard"
      },
      "privateSecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "description": "Your private secret key (server-side only)"
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "account-code",
        "description": "Your account identifier. The alias X-Account-Code is also accepted."
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": [
          "currency",
          "value"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code",
            "example": "BRL"
          },
          "value": {
            "type": "number",
            "description": "Payment amount",
            "example": 100.0
          }
        },
        "example": {
          "currency": "BRL",
          "value": 100.0
        }
      },
      "CustomerDocument": {
        "type": "object",
        "required": [
          "document_type",
          "document_number"
        ],
        "properties": {
          "document_type": {
            "type": "string",
            "enum": [
              "CPF",
              "CNPJ",
              "CC",
              "CE",
              "NIT",
              "PP",
              "CURP",
              "RFC"
            ],
            "description": "Type of identification document"
          },
          "document_number": {
            "type": "string",
            "description": "Document number (digits only). CPF: 11 digits, CNPJ: 14 digits.",
            "example": "12345678901"
          }
        },
        "example": {
          "document_type": "CPF",
          "document_number": "12345678901"
        }
      },
      "CheckoutSessionRequest": {
        "type": "object",
        "required": [
          "amount",
          "country",
          "merchant_order_id"
        ],
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "pattern": "^[A-Z]{2}$",
            "example": "BR"
          },
          "merchant_order_id": {
            "type": "string",
            "description": "Your unique order identifier",
            "example": "order-001"
          },
          "payment_description": {
            "type": "string",
            "description": "Description of the payment",
            "example": "Premium subscription - March 2026"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Optional existing customer ID",
            "example": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f"
          },
          "workflow": {
            "type": "string",
            "enum": [
              "SDK_CHECKOUT",
              "SDK_LITE",
              "DIRECT"
            ],
            "description": "Integration workflow type",
            "example": "SDK_CHECKOUT"
          }
        },
        "example": {
          "amount": {
            "currency": "BRL",
            "value": 150.0
          },
          "country": "BR",
          "merchant_order_id": "order-20260301-001",
          "payment_description": "Premium subscription - March 2026",
          "workflow": "SDK_CHECKOUT"
        }
      },
      "CheckoutSession": {
        "type": "object",
        "properties": {
          "checkout_session": {
            "type": "string",
            "format": "uuid",
            "description": "The checkout session identifier",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "BR"
          },
          "merchant_order_id": {
            "type": "string",
            "description": "Your unique order identifier",
            "example": "order-20260301-001"
          },
          "status": {
            "type": "string",
            "description": "Session status",
            "example": "ACTIVE"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Session creation timestamp",
            "example": "2026-03-01T14:30:00.000Z"
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Payment method type"
                }
              }
            },
            "description": "Available payment methods for this session"
          }
        },
        "example": {
          "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "amount": {
            "currency": "BRL",
            "value": 150.0
          },
          "country": "BR",
          "merchant_order_id": "order-20260301-001",
          "status": "ACTIVE",
          "created_at": "2026-03-01T14:30:00.000Z",
          "payment_methods": [
            {
              "type": "CARD"
            },
            {
              "type": "PIX"
            },
            {
              "type": "BOLETO"
            }
          ]
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "checkout_session",
          "payment_method",
          "amount",
          "country"
        ],
        "properties": {
          "checkout_session": {
            "type": "string",
            "format": "uuid",
            "description": "The checkout session ID from the create session response",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "payment_method": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "CARD",
                  "PIX",
                  "BOLETO",
                  "PSE",
                  "SPEI",
                  "OXXO",
                  "BNPL",
                  "GOOGLE_PAY",
                  "APPLE_PAY"
                ],
                "description": "Payment method type",
                "example": "CARD"
              },
              "token": {
                "type": "string",
                "description": "Payment method token (for tokenized card payments)",
                "example": "tok_4a8b9c2d-1e3f-5678-90ab-cdef12345678"
              },
              "vaulted_token": {
                "type": "string",
                "description": "Vaulted payment method token (for returning customers)"
              }
            }
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "pattern": "^[A-Z]{2}$",
            "example": "BR"
          },
          "customer": {
            "type": "object",
            "properties": {
              "document": {
                "$ref": "#/components/schemas/CustomerDocument"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Customer email address",
                "example": "maria.silva@example.com"
              },
              "first_name": {
                "type": "string",
                "example": "Maria"
              },
              "last_name": {
                "type": "string",
                "example": "Silva"
              },
              "phone": {
                "type": "string",
                "example": "+5511999990000"
              }
            }
          },
          "description": {
            "type": "string",
            "description": "Payment description",
            "example": "Premium subscription - March 2026"
          },
          "installments": {
            "type": "integer",
            "description": "Number of installments (for card payments)",
            "minimum": 1,
            "example": 1
          }
        },
        "example": {
          "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "payment_method": {
            "type": "CARD",
            "token": "tok_4a8b9c2d-1e3f-5678-90ab-cdef12345678"
          },
          "amount": {
            "currency": "BRL",
            "value": 150.0
          },
          "country": "BR",
          "customer": {
            "document": {
              "document_type": "CPF",
              "document_number": "12345678901"
            },
            "email": "maria.silva@example.com",
            "first_name": "Maria",
            "last_name": "Silva"
          },
          "description": "Premium subscription - March 2026",
          "installments": 1
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique payment identifier",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "checkout_session": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCEEDED",
              "PENDING",
              "DECLINED",
              "REJECTED",
              "CANCELLED",
              "REFUNDED",
              "PARTIALLY_REFUNDED",
              "AUTHORIZED"
            ],
            "description": "Current payment status",
[...]
